/**
  * Group member layouts
  */

  .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
  }

.group-member {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.group-member-photo {
  grid-column: span 3;
  justify-content: center;
}

.group-member-bio {
  grid-column: span 9;
}

.group-member-photo img {
  width: 200px;
  padding-right: 10px;
  vertical-align: middle;
}

.group-member-bio h3 {
  font-family: "Mulish", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #222222;
  font-size: $base-font-size * 1.5;
}

@media (max-width: 480px) {
  .group-member-photo {
    grid-column: span 12;
  }

  .group-member-bio {
      grid-column: span 12;
  }
}

@media (max-width: 1000px) {
  .group-member-photo {
    grid-column: span 3;
  }

  .group-member-photo img {
    vertical-align: top;
  }

  .group-member-bio {
    grid-column: span 12;
  }

  .helper {
    height: 0%;
  }
}
